@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

:root {
  --text-color: #100a55;
  --primary-color: #7065f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-color);
}

button {
  cursor: pointer;
}
/* NavBar Section Start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.nav__menu {
  display: flex;
  list-style: none;
}

.nav__menu a {
  padding: 1rem 15px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.nav__menu a i {
  margin-left: 5px;
}

.nav__menu a:hover {
  background-color: var(--primary-color);
  color: white;
}

.nav__buttons {
  display: flex;
  gap: 10px;
}

.nav__buttons button {
  width: 92px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.nav__buttons .login {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
}

.nav__buttons .login:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__buttons .signup {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

.nav__buttons .signup:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.nav__toggleBtn {
  display: none;
}

@media (max-width: 900px) {
  .nav__menu {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    backdrop-filter: blur(5px);
    padding: 28% 1.5rem;
    gap: 30px;
    font-size: 1.2rem;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
    z-index: 10;
  }

  .nav__menu a {
    color: white;
  }

  .show {
    transform: translateX(0%) !important;
  }

  .nav__buttons {
    position: fixed;
    inset: 80% 1.5rem 1.5rem calc(30% + 2rem);
    flex-direction: column;
    transform: translateX(150%);
    transition: all 0.5s ease-out;
    z-index: 10;
  }

  .nav__buttons button {
    width: 100%;
    color: white;
    border-color: white !important;
  }

  .nav__toggleBtn {
    display: block;
    width: 25px;
    height: 30px;
    position: relative;
    z-index: 10;
  }

  .nav__toggleBtn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000929;
    border-radius: 2px;
    margin-top: 10px;
    transition: all 0.3s ease;
  }

  .nav__toggleBtn.close span {
    position: absolute;
    top: 8px;
  }

  .nav__toggleBtn.close span:nth-child(1) {
    transform: rotate(45deg);
    background-color: white;
  }
  .nav__toggleBtn.close span:nth-child(2) {
    transform: rotate(-45deg);
    background-color: white;
  }
}

/* NavBar section end */

/* Hero Section Start */

.hero {
  padding: 3rem 2rem;
  background-color: #f7f7fd;
  position: relative;
}

.hero h1 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
  color: #000929;
}

.hero p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #000929;
}

.hero__select-menu {
  width: 100%;
  display: flex;
  list-style: none;
  margin-bottom: -4px;
  border-radius: 10px;
  background-color: #fff;
  animation: slideFromLeft 1s ease forwards;
  position: relative;
  z-index: 5;
}

.hero__select-menu li {
  flex: 1;
}

.hero__select-menu a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
  cursor: pointer;
}

.hero__select-menu a.active {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.hero__menu-tabs .rentTab {
  margin-bottom: 30px;
  position: relative;
  animation: slideFromLeft 1s ease forwards;
  z-index: 3;
}

.hero__menu-tabs .rentTab input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 20px 30px 15px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.hero__menu-tabs .rentTab::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #7065f0;
  background-image: url("assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  cursor: pointer;
}

.hero__statics {
  display: flex;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 0px;
}

.hero__statics div {
  flex: 1;
  padding-left: 25px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}

.hero__statics .highlight {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 700;
}

.hero__statics p {
  text-align: start;
  margin-bottom: 0;
  font-size: 16px;
  color: gray;
}

.hero__desktop-image {
  display: none;
}

@media (min-width: 900px) {
  .hero {
    padding-left: 5rem;
  }
  .hero h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .hero p {
    margin-bottom: 50px;
  }
  .hero h1,
  .hero p {
    position: relative;
    text-align: start;
    max-width: 50%;
    z-index: 4;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__select-menu {
    max-width: 30%;
  }
  .hero__menu-tabs {
    max-width: 60%;
  }

  .hero__statics {
    max-width: 30%;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .hero__statics p {
    margin-bottom: 0;
  }

  .hero__desktop-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-image: url("assets/map.png");
    z-index: 2;
  }

  .home-card1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    animation: slideFromLeft 0.5s ease forwards;
  }

  .home-card2 {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    animation: slideFromRight 0.5s ease forwards;
  }

  .home-card img {
    max-width: 100%;
    border-radius: 10px;
  }

  .home-card .content {
    max-width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  .home-card .price {
    font-size: 24px;
    color: var(--primary-color);
  }

  .home-card2 .price {
    font-size: 20px;
  }

  .home-card .price span {
    font-size: 16px;
    color: gray;
  }

  .home-card .name {
    font-size: 24px;
  }

  .home-card2 .name {
    font-size: 18px;
  }

  .home-card .address {
    font-size: 16px;
    color: gray;
    max-width: 100% !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .home-card2 .address {
    font-size: 14px;
  }

  .home-card ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .home-card ul li {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .home-card ul img {
    width: 20px;
    margin-right: 5px;
  }

  .home-card2 ul li {
    font-size: 14px;
  }
}


.feature-1__imageContainer {
  background-color: #DCDAF6;
  position: relative;
  margin: 5rem 1rem;
  border-radius: 15px;
}

.feature-1__imageContainer img {
  display: block;
  width: 100%;
}

.feature-1__imageContainer .label {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  color: var(--text-color);
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,0.3);
}

.feature-1__imageContainer .label1{
  top: 5%;
  left: -3%;
}

.feature-1__imageContainer .label2 {
  width: 80%;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%);
  gap: 0;
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.feature-1__imageContainer .label img {
  width: 50px;
}

.feature-1__imageContainer .label2 img {
  position: absolute;
  display: block;
  top: -25px;
  right: 15px;
}

.feature-1__contentContainer {
  margin: 0 1rem;
  text-align: center;
}

.feature-1__contentContainer .selectcontainer {
  display: flex;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #efeffb66;
  margin-bottom: 2rem;
}

.feature-1__contentContainer .selectcontainer button {
  flex: 1;
  padding: 15px 10px;
  font-family: inherit;
  border: none;
  background-color: rgba(0,0,0,0);
  font-weight: 600;
  color: #6C727F;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.0);
  transition: all 0.3s ease;
}

.feature-1__contentContainer .selectcontainer button.active {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  color: var(--primary-color);
  font-weight: 800;
  border-radius: 8px;
}

.feature-1__contentContainer h2 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin-bottom: 1.5rem;
}

.feature-1__contentContainer p {
  color: #6C727F;
  font-size: 16px;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.feature-1__contentContainer .seemoreBtn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-family: inherit;
  border: none;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

@media (min-width: 1024px){
  .feature-1 {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 5rem;
    margin-inline: auto;
  }
  
  .feature-1__imageContainer {
    width: 50%;
    margin: 0;
  }

  .feature-1__imageContainer img {
    height: 600px;
  }

  .feature-1__imageContainer .label1 {
    height: 90px;
  }

  .feature-1__imageContainer .label2 img {
    top: -300px;
  }
  
  .feature-1__contentContainer {
    width: 50%;
  }

  .feature-1__contentContainer {
    text-align: start;
  }

  .feature-1__contentContainer .selectcontainer {
    width: 60%;
  }

  .feature-1__contentContainer h2 {
    font-size: 40px;
  }

  .feature-1__contentContainer p {
    font-size: 16px;
  }

  .feature-1__contentContainer .selectcontainer button {
    font-size: 16px;
  }

  .feature-1__contentContainer .seemoreBtn {
    width: auto;
  }
}

/* Feature 2 Section */
.feature2 {
  margin: 5rem 1rem;
  border: 1px solid #E0DEF7;
  background-color: #F7F7FD;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 16px;
}

.f2-contentContainer {
  padding: 2rem 1rem 0 2rem;
}

.f2-contentContainer h2 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0.7em;
}

.f2-contentContainer>p {
  font-size: 1em;
  font-weight: 500;
  color: #6C727F;
  margin-bottom: 1.4em;
}

.f2-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.f2-list li {
  display: flex;
  gap: 24px;
  align-items: center;
}

.f2-list li h4 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.f2-list li p {
  font-size: 0.75rem;
}

.f2-imgContainer {
  max-height: 300px;
}

@media (min-width: 1200px){
  .feature2 {
    flex-direction: row;
    align-items: center;
    margin-inline: 5rem;
  }

  .f2-contentContainer {
    padding: 4rem 4rem 5rem 4rem;
    width: 50%;
  }

  .f2-contentContainer h2 {
    font-size: 40px;
    width: 75%;
  }

  .f2-contentContainer>p {
    font-size: 16px;
    width: 50%;
    margin-bottom: 3rem;
  }

  .f2-list {
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
  }

  .f2-list li {
    flex-direction: column;
  }

  .f2-list li img {
    width: 64px;
  }

  .f2-list li div {
    text-align: center;
    color: #000929;
  }

  .f2-list li h4 {
    font-size: 1.5rem;
  }

  .f2-list li p {
    font-size: 0.75rem;
  }

  .f2-imgContainer {
    max-height: 100%;
    width: 50%;
  }

  .f2-imgContainer img {
    height: 100%;
    width: 100%;
  }
}
