@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --text-color: #100a55;
  --primary-color: #7065F0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.nav__menu {
  display: flex;
  list-style: none;
}

.nav__menu a {
  padding: 1rem 15px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.nav__menu a i {
  margin-left: 5px;
}

.nav__menu a:hover {
  background-color: skyblue;
  color: white;
}

.nav__buttons {
  display: flex;
  gap: 10px;
}

.nav__buttons button {
  width: 92px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.nav__buttons .login {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
}

.nav__buttons .login:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__buttons .signup {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

.nav__buttons .signup:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.nav__toggleBtn {
  display: none;
}

@media (max-width: 900px) {
  .nav__menu {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: rgba(0, 0, 255, 0.329);
    flex-direction: column;
    backdrop-filter: blur(2px);
    padding: 28% 1.5rem;
    gap: 30px;
    font-size: 1.1rem;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  }

  .show {
    transform: translateX(0%) !important;
  }

  .nav__buttons {
    position: fixed;
    inset: 80% 1.5rem 1.5rem calc(30% + 2rem);
    z-index: 20;
    flex-direction: column;
    transform: translateX(150%);
    transition: all 0.5s ease-out;
  }

  .nav__buttons button {
    width: 100%;
  }

  .nav__toggleBtn {
    display: block;
    width: 25px;
    height: 30px;
    position: relative;
    z-index: 30;
  }

  .nav__toggleBtn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    margin-top: 10px;
    transition: all 0.3s ease;
  }

  .nav__toggleBtn.close span {
    position: absolute;
    top: 8px;
  }

  .nav__toggleBtn.close span:nth-child(1) {
    transform: rotate(45deg);
  }
  .nav__toggleBtn.close span:nth-child(2){
    transform: rotate(-45deg);
  }
}
